*, *:before, *:after, ul, li, a, button, input, h1, h2, h3, h4, h5, h6, p, img, image, svg, path, g {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	list-style: none;
	outline: none;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-size: 16px;
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
}

a {
    color: #2a56c6;
}

.msb, li {
	opacity: 0;
	-webkit-animation: fadeIn .4s ease-in-out forwards;
	animation: fadeIn .4s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

.header {
	background: #2A56C6;
	height: 56px;
	line-height: 56px;
	padding: 0;
	color: #fff;
	width: 100%;
	z-index: 999;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	position: fixed;
	top: 0;
}

.headname {
	float: left;
	padding: 0 16px;
	line-height: 56px;
	font-size: 18px;
}

.header .exit {
	font-family: Material Icons;
	color: #fff;
	font-size: 24px;
	width: 56px;
	height: 56px;
	float: right;
	cursor: pointer;
}

.header .exit:hover {
	background: #2751b9;
}


.cmd-m {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: inherit;
	color: #fff;
	overflow: hidden;
	text-align: center;
	top: 3px;
	font-size: 24px;
	width: 56px;
	height: 56px;
	line-height: 63px;
	float: right;
	cursor: pointer;
}

.cmd-m:hover {
	background: #2751b9;
}


.set-i {
	display: none;
}

.set-i.opn {
	display: block;
	position: fixed;
	top: 56px;
	background: #fff;
	width: 100%;
	padding: 0 16px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.set-i.opn input#image {
	width: 100%;
	height: 55px;
}

.empty {
	position: absolute;
	left: 0;
	right: 0;
	top: -42px;
	bottom: 0;
	margin: auto;
}

.empty.ic {
	width: 200px;
	height: 104px;
	background-image: url(img/empty_list.png);
	background-size: cover;
	background-position: center;
}

.empty_words {
	width: 200px;
	text-align: center;
	position: relative;
	margin-top: 128px;
	font-size: 13px;
	color: #6d6d6d;
}

.wrapper {
	width: calc(100% - 16px);
	max-width: 720px;
	margin: 64px auto 56px;
	overflow-x: hidden;
	word-break: break-all;
}

#status {
	animation: fadeIn .4s ease-in-out forwards;
}

#status img.load {
	width: 56px;
	height: 56px;
}

.msb {
	padding: 10px 20px;
	color: #34495e;
	word-break: break-word;
	background: #fff;
	margin: 6px 0;
	margin: 6px 8px;
	display: table;
	border-radius: 3px;
	margin-left: 56px;
	position: relative;
	clear: both;
}

/*.msb:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -6px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 6px solid;
    border-color: #fff transparent transparent transparent;
}*/

.msb.my {
	float: right;
	margin-left: initial;
	margin-right: 56px;
	margin-top: initial;
}

/*.msb.my:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -6px;
    top: 0px;
    bottom: auto;
    border: 6px solid;
    border-color: #fff transparent transparent transparent;
}*/

.msb span {
	color: #2A56C6;
	font-weight: 700;
	font-size: 16px;
	white-space: nowrap;
}

.msb time {
	color: rgba(50, 50, 50, .5);
	font-size: 12px;
	margin-left: 8px;
	white-space: nowrap;
}

.msb div {
	font-size: 14px;
	margin-top: 8px;
}

.cover {
	width: 42px;
	height: 42px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	display: table-cell;
	position: absolute;
	left: -53px;
	margin-top: -8px !important;
	color: #fff;
	line-height: 42px;
	text-align: center;
	font-size: 0 !important;
	z-index: 2;
}

.cover_n {
	width: 42px;
	height: 42px;
	background: #2A56C6;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	display: table-cell;
	position: absolute;
	left: -53px;
	margin-top: -8px !important;
	color: #fff;
	line-height: 42px;
	text-align: center;
	font-size: 0 !important;
	z-index: 1;
}

.cover_n:first-letter {
	font-size: 16px !important;
}

.my .cover, .my .cover_n {
	left: initial;
	right: -53px;
}

.msb img.emoji {
	width: 18px;
	vertical-align: middle;
}

.msb img.sticker {
	max-height: 192px;
	height: 100%;
	display: block;
	margin-left: 6px;
}

.pic {
	max-width: 480px;
	width: 100%;
	display: block;
	margin-top: 8px;
}

.audio {
	display: flex;
	flex: 1 1 200px;
	align-items: center;
}

.audio div {
	margin: 0 !important;
}

.audio-side {
	padding-right: 16px;
	flex: none;
}

.audio-btn {
	position: relative;
	background: #1565C0;
	border-radius: 50px;
	width: 42px;
	height: 42px;
	cursor: pointer;
}

.audio-btn i {
	position: absolute;
	font-size: 28px;
	color: #fff;
	top: 7px;
	left: 7px;
}

.audio-text {
	line-height: 18px;
	font-weight: 500;
	margin: 12px 0 !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 150px;
}

img#pastedImage {
	max-width: 172px;
	max-height: 172px;
	position: fixed;
	bottom: 54px;
	left: 8px;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
}

input.message {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 48px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
	padding: 0 80px 0 16px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.send {
	font-family: 'Material Icons';
	color: #2A56C6;
	font-size: 24px;
	cursor: pointer;
	position: fixed;
	left: calc(100% - 48px);
	height: 48px;
	width: 48px;
	bottom: 0;
	background: #fff;
}

.emoji_b {
	font-family: 'Material Icons';
	color: #9E9E9E;
	font-size: 24px;
	cursor: pointer;
	position: fixed;
	left: calc(100% - 80px);
	height: 48px;
	width: 32px;
	bottom: 0;
	background: #fff;
	line-height: 48px;
}

.cmd-i {
	cursor: pointer;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-size: inherit;
	font-weight: inherit;
	line-height: 0;
	color: #9E9E9E;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	position: relative;
	top: 3px;
}

.gif-btn {
    height: 24px;
    font-size: 36px !important;
    position: relative;
    top: 6.4px;
    line-height: 12px !important;
}

.emoji_a {
	width: 17px;
	margin-left: 8px;
	cursor: pointer;
}

.sticker_a {
	max-width: 96px;
	height: 96px;
	margin-left: 6px;
	cursor: pointer;
}

.emoji_b-alert.vis {
	display: block;
	background: #fff;
	position: fixed;
	bottom: 48px;
	left: 0;
	right: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	width: 100%;
	margin: 0px auto;
	border-top: 1px solid rgba(243, 243, 243, .6);
	z-index: 1;
	opacity: 1;
}

.emoji_b-alert {
	display: none;
}

.emoji_b-alert-body {
	color: rgba(0, 0, 0, .870588);
	transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	border-radius: 0px;
	background-color: #fff;
}

.emoji_b-alert-question {
	font-size: 0;
	padding: 17px;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	display: inline-block;
	float: left;
	max-width: calc(100% - 52px);
}

.sticker_b-alert-question {
	font-size: 16px;
	padding: 17px;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	display: inline-block;
	float: left;
	max-width: calc(100% - 52px);
}

.emoji_b-alert-body.vis .emoji_b-alert-question {
	display: initial;
}
.emoji_b-alert-body.vis .sticker_b-alert-question {
	display: none;
}

.emoji_b-alert-body .emoji_b-alert-question {
	display: none;
}
.emoji_b-alert-body .sticker_b-alert-question {
	display: initial;
}

.emoji_b-alert-option-body {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 48px;
    padding: 6px 8px;
	margin-top: 0px;
	border-top-style: none;
	display: table-cell;
	position: absolute;
	right: 0;
	bottom: 0;
}

.arrow,
.menu {
	opacity: 1;
	position: absolute;
	top: 6px;
	right: 6px;
	-webkit-transition: opacity .4s ease, -webkit-transform .5s ease;
	transition: opacity .4s ease, -webkit-transform .5s ease;
	transition: opacity .4s ease, transform .5s ease;
	transition: opacity .4s ease, transform .5s ease, -webkit-transform .5s ease;
}

.arrow.out,
.menu.out {
	opacity: 0;
	-webkit-transition: opacity .4s ease, -webkit-transform .5s ease;
	transition: opacity .4s ease, -webkit-transform .5s ease;
	transition: opacity .4s ease, transform .5s ease;
	transition: opacity .4s ease, transform .5s ease, -webkit-transform .5s ease;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.emoji_b-but {
	border: 10px;
	box-sizing: border-box;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-size: inherit;
	font-weight: inherit;
	transform: translate3d(0px, 0px, 0px);
	height: 36px;
	line-height: 0;
	min-width: 36px;
	color: #2A56C6;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	text-align: center;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0);
}

.emoji_b-but:hover {
	background-color: rgba(42, 86, 198, .2);
}

.es-board::-webkit-scrollbar {
	width: 2px;
}

.es-board::-webkit-scrollbar-thumb {
	background: rgba(125, 125, 125, .5);
}

.gif-search-box {
    display: none;
}

.gif-search-box.open {
    display: block!important;
	background: #fff;
	position: fixed;
	bottom: 0;
	z-index: 2;
}

form#gif-search-form {
	border-top: 1px solid rgba(158, 158, 158, 0.15);
}

input#gif-search-input {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 48px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
	padding: 0 48px 0 16px;
}

.error-container {
    color: #9E9E9E;
    font-size: 14px;
    padding: 11px;
    letter-spacing: 0.5px;
    text-align: center;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    height: 56px;
    position: fixed;
    bottom: 48px;
    background: #fff;
    border-top: 1px solid rgba(243, 243, 243, .6);
}

.pic-container {
	font-size: 16px;
	padding: 4px;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
	position: fixed;
	bottom: 48px;
	background: #fff;
	border-top: 1px solid rgba(243, 243, 243, .6);
}

.pic-container img {
	height: 120px;
	margin: 3px !important;
	border-radius: 2px;
	cursor: pointer;
}


.pic-container::-webkit-scrollbar {
	width: 2px;
}

.pic-container::-webkit-scrollbar-thumb {
	background: rgba(125, 125, 125, .5);
}

.initModal {
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: normal;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.one_step {
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    position: absolute;
}

input.login {
    background: #2A56C6;
    color: #fff;
    border-radius: 2px;
    padding: 11px 32px;
    width: 256px;
    cursor: pointer;
    margin-top: 172px;
}

.initModal img {
    width: 92px;
    height: 92px;
    margin-top: 118px;
    left: 0;
    right: 0;
}

.initModal .appname {
    color: #2A56C6;
    font-size: 32px;
    margin: 24px auto;
    left: 0;
    right: 0;
}

.two_step {
    display: none;
}

.two_step.cllog {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 96px;
    display: block;
}

.initModal h3 {
	font-weight: 300;
	color: #777;
}

.initModal input.username {
	max-width: 400px;
	width: calc(100% - 16px);
	height: 48px;
	background-color: #eee;
	border-radius: 2px;
	padding: 0 15px;
	margin-top: 25px;
	color: #444;
	transition: .5s;
}

.oplog {
    display: none;
}
