*, *:before, *:after, ul, li, a, button, input, h1, h2, h3, h4, h5, h6, p, img, image, svg, path, g {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-size: 16px;
  font-family: sans-serif;
}

li {
  opacity: 0;
  -webkit-animation: fadeIn .4s ease-in-out forwards;
          animation: fadeIn .4s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}


.wrapper {
  width: calc(100% - 16px);
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 70px;
  overflow-x: hidden;
  word-break: break-all;
  background-size: cover;
  background-attachment: fixed;
}

li {
  padding: 10px 20px;
  color: #34495e;
  word-break: break-word;
  background: #fff;
  margin: 6px 0;
  margin: 6px 8px;
  display: table;
  border-radius: 3px;
}

li span {
  color: #3F51B5;
  font-weight: 700;
}

li img.emoji {
  width: 14px;
  margin-left: 4px;
}

li img.sticker {
  width: 148px;
  float: right;
  margin-left: 6px;
}

input.message {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  padding: 0 80px 0 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.send {
  font-family: 'Material Icons';
  color: #3F51B5;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  left: calc(100% - 48px);
  height: 60px;
  width: 48px;
  bottom: 0;
  background: #fff;
}

.emoji_b {
  font-family: 'Material Icons';
  color: #9E9E9E;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  left: calc(100% - 80px);
  height: 60px;
  width: 32px;
  bottom: 0;
  background: #fff;
}

.emoji_a {
    width: 16px;
    margin-left: 6px;
}

.emoji_b-alert.vis {
    display: block;
    background: #fff;
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    width: 100%;
    margin: 0px auto;
    border-top: 1px solid rgba(243, 243, 243, .6);
    z-index: 1;
    opacity: 1;
    height: 52px;
}

.emoji_b-alert {
    display: none;
}

.emoji_b-alert-body {
    color: rgba(0, 0, 0, .870588);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
}

.emoji_b-alert-question {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 18px;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    float: left;
    max-width: calc(100% - 104px);
    height: 52px;
}

.emoji_b-alert-option-body {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 8px;
    margin-top: 0px;
    border-top-style: none;
    display: table-cell;
    float: right;
}

.emoji_b-but {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-size: inherit;
    font-weight: inherit;
    transform: translate3d(0px, 0px, 0px);
    height: 36px;
    line-height: 36px;
    min-width: 88px;
    color: #5d80a6;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0);
}

.emoji_b-but:hover {
    background-color: rgba(153, 153, 153, .2);
}

.emoji_b-alert-question::-webkit-scrollbar {
    width: 3px;
}

.emoji_b-alert-question::-webkit-scrollbar-thumb {
    background: rgba(125, 125, 125, .5);
}

.initModal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 92px;
}

.initModal .appname {
    color: #3F51B5;
    font-size: 36px;
    margin: 24px 24px 100px 24px;
}

.initModal .appname i {
  font-size: 24px !important;
}
.initModal h3 {
  font-weight: 300;
  color: #777;
}

.initModal input.username {
  max-width: 400px;
  width: calc(100% - 24px);
  height: 60px;
  background-color: #eee;
  border-radius: 2px;
  padding: 0 15px;
  margin-top: 25px;
  color: #444;
}
